* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
    /* display: none; */
}
::-webkit-scrollbar-track{
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    background: #6e6eb054;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#introduction{
    position: relative;
    padding-top: 50px;
    margin-bottom: 40px;
}
.navigate{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 999;
    /* position: relative; */
    background: #fff;
}
.navigate a{
    text-decoration: none;
    color: #000000;
}
.back_to_home img{
    width: 20px;
}
.toc_head{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.toc_head img{
    width: 10px;
}
#contbig{
    width: 20px;
}
.toc{
    width: 250px;
    border-top: 1px solid #1d1d97;
    padding: 20px 0;
    background: #f5f5f5;
    /* backdrop-filter: blur(5px); */
    margin-top: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px #1d1d9787;
    position: absolute;
    transition: 0.3s;
    left: -250px;
}
.contact_content{
    width: 250px;
    border-top: 1px solid #1d1d97;
    padding: 20px 0;
    background: #f5f5f5;
    /* backdrop-filter: blur(5px); */
    margin-top: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px #1d1d9787;
    position: absolute;
    transition: 0.3s;
    left: -250px;
}
.contact_content img{
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.contact_content p{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    transition: 0.3s;
}
.toc p img, .contact_content p img{
    width: 20px;
    margin-right: 10px;
}
.contact_content p:hover{
    border: 1px solid #808080;
}
.repo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #76a5c6;
    font-weight: bold;
    cursor: pointer;
}
.repo2{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.toc img{
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.toc p{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    transition: 0.3s;
}
.toc p:hover{
    border: 1px solid #808080;
}
.addspell{
    font-weight: 400;
    font-size: 13px;
    margin-left: 40px;
}
/* .burger{
    right: 1em;
    top: 1em;
    z-index: 60;
}
.close-burger{
    right: 1em;
    top: 1em;
} */
.proj_intro{
    width: 100%;
    background: #f5f5f591;
    backdrop-filter: blur(5px);
}
.into_writeup{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    color: #1d1d97;
    -webkit-text-stroke-color: #000000a3;
    -webkit-text-stroke-width: 1px;
}
.title span{
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}
.arrange{
    text-align: left;
}
.cta{
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    color: #2b2bd1;
    border-bottom: 1px solid #2b2bd147;
    border-radius: 10px;
    transition: 0.3s;
}
.cta:hover{
    background: #2b2bd147;
    color: #000000e1;
}
.dashboard{
    width: 100%;
    /* background: gray; */
    object-fit: cover;
}
.description{
    padding: 20px 30px;
    position: relative;   
}
.split_project{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.description a{
    text-decoration: none;
    color: #000000;
}
.description .problem_statement,
.description .executive_summary{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.description p{
    line-height: 25px;
}
#data, #eda, #modev, #resultdis, #recolim, #reference{
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    background: #f5f5f591;
    backdrop-filter: blur(5px);
    margin-bottom: 40px;
    position: relative;
}
#achieve{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}
#some_skills{
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
}
.sub_topic, .plot_title, .discovery_topic, caption{
    font-weight: bold;
}
.data_sub{
    margin-bottom: 20px;
    text-align: left;
    overflow-x: hidden;
}
.data_sub img{
    width: 300px;
}
.steps{
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}
.points{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
.desc_pic{
    width: 400px;
    /* height: 150px; */
    /* background: gray; */
    object-fit: cover;
    margin-left: 30px;
}
.eda{
    width: 100%;
}
.projects, .plot_explain{
    margin-bottom: 40px;
    box-shadow: 0 0 5px #1d1d9787;
    text-align: left;
}
.projects div, .plot_explain{
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px 40px;
    border-radius: 10px;
}
.more_projects{
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-between; */
    overflow-y: scroll;
    background: #e6e6e6;
    padding: 5px;
    margin-top: 40px;
    transition: 1s;
}
.less{
    border: unset;
    font-size: 13px;
    color: #00000095;
}
.less:hover{
    background: #00000000;
    color: #00000095;
}
.eda img, .summary_pic{
    margin-top: 20px;
    width: 40px;
}
.summary_pic{
    width: 100%;
}
.project_title{
    font-weight: bold;
    margin-bottom: 20px;
}
.summary_figures p{
    margin-bottom: 20px; margin-top: 20px;
}
.diagrams{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.description .executive_summary{
    color: #000000b5;
}
.result{
    margin-bottom: 20px;
}
.indusproficiency{
    margin-bottom: 20px;
    padding: 30px;
    text-align: left;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 13px;
    background: #f5f5f5;
    padding: 50px;
}
.dial{
    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 20px 30px;
    margin: 0 auto;
    transition: 0.3s;
}
.dial img{
    width: 40px;
}
.dial:hover{
    background: #1d1d9787;
}
.make_a_call img{
    width: 100%;
}

@media screen and (min-width: 600px){
    .proj_intro{
        padding: 50px;
    }
    .make_a_call{
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .make_a_call img{
        width: 50%;
    }
}

@media screen and (min-width: 1000px){
    .navigate{
        padding: 20px 90px;
    }
    .proj_intro{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .proj_intro img{
        width: 50%;
    }
    .into_writeup{
        text-align: left;
    }
    .title{
        margin-left: 30px;
    }
    .data_sub{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: left;
    }
    .data_sub img{
        width: 40%;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    .description{
        padding: 50px 80px;
    }
    .projects{
        width: 350px;
    }
    .projects img{
        width: 50px;
    }
    .result{
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
    .title{
        font-size: 70px;
    }
    .description .executive_summary{
        font-size: 40px;
        line-height: 50px;
        text-align: left;
    }
}
@media screen and (min-width: 1300px){
    .navigate{
        padding: 20px 140px;
    }
    .title{
        margin-left: 80px;
    }
    .description{
        padding: 50px 80px;
    }
}