* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    /* background: #f3f3f7; */
    border: 1px solid #b3854096;
    position: fixed;
    z-index: 990;
    top: 0;
}
.nav-links{
    display: flex;
    background: #2c2c30;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}
.nav-links li{
    padding:   10px 20px;
    margin: 0 10px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #12123e62; */
    transition: 0.2s;
}
.nav-links li a{
    text-decoration: none;
    color: #f5f5f5;
    /* margin-left: 10px; */
    font-size: 13px;
}
.nav-links li img{
    width: 15px;
    display: none;
}
#hero{
    width: 100%;
    /* height: 100vh; */
    padding: 20px 0;
    background: #f3f3f7;
    margin-top: 50px;
}
.intro{
    text-align: center;
    animation: slide-down 1s ease-in-out;
}
.introdescription h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #555567;
    margin-top: 1px;
    font-weight: 900;   
}
.introdescription p{
    padding: 30px 20px;
    line-height: 25px;
}
.namebox{
    /* color: #131343; */
    color: #555567;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.cta{
    padding-bottom: 20px;
    padding-top: 20px;
}
.btn1{
    background: #e25959;
    /* background: linear-gradient( #bab0ba,  #b67e41); */
    color: #f5f5f5;
}
.btn2{
    /* color: #9f3838; */
    color: #e25959;
    margin-left: 20px;
}
.btn1, .btn2{
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    /* border: 1px solid #b67e41; */
    border-radius: 10px;
    box-shadow: 0 0 10px #12123e62;
    transition: 0.2s;
}
#hero img{
    width: 100%;
    /* height: 70vh; */
    margin-top: 20px;
    animation: slide-up 0.5s ease-in-out;
}
#skills{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.tools{
    font-weight: bold;
}
.tools-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.tools-icons img{
    width: 30px;
    border: 1px solid #b67d4181;
    border-radius: 50%;
}
.picture{
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 10px;
}
#skills h3, #sampleprojects h3, #otherprojects h3, #achieve h3{
    font-size: 50px;
    color: #555567;
}
.skillscard{
    width: 100%;
    padding: 20px;
    position: relative;
}
.skillscard h4{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.skillscard ul{
    list-style: none;
    text-align: left;
}
.skillscard ul li{
    border-left: 5px solid #b67d4181;
    margin-bottom: 10px;
    padding: 20px;
    line-height: 20px;
}
.softskills{
    margin-top: 40px;
    margin-bottom: 40px;
}
#sampleprojects{
    width: 100%;
    padding: 20px;
    text-align: center;
}
#sampleprojects a{
    text-decoration: none;
}
.projectcard{
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 5px #5858fd2b;
    margin-top: 20px;
    transition: 0.2s;
}
.titlediv{
    margin: 20px 0;
    padding-top: 50px;
    border-left: 10px solid #6e6eb08c;
}
.titlediv h4{
    color: #0c0ca0;
    font-size: 20px;
    margin-bottom: 10px;
}
.projectcard img{
    width: 100%;
    object-fit: fill;
    margin-top: 10px;
}
.probrief{
    padding: 20px;
    line-height: 30px;
    color: #000000;
}
.shiftdown{
    margin-top: 50px;
}
.moreproj{
    text-decoration: none;
    padding: 10px 20px;
    /* border: 1px solid #b67e41; */
    border-radius: 10px;
    color: #00000084;
    font-size: 13px;
    /* box-shadow: 0 0 10px #12123e62; */
}
.recentprojcardcontainer{
    margin-bottom: 50px;
}
#contact{
    width: 100%;
    display: flex;
    margin-top: 40px;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}
.copyright{
    font-size: 13px;
    text-align: right;
}
.phone, .email, .linkedin{
    display: flex;
}
.whatsapp img{
    margin-bottom: 20px;
}
.phone p, .email p{
    margin-left: 20px;
}
.explain p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.splitcontacticons{
    width: 100px;
    position: relative;
}
.splitcontacticons::after{
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #80808050;
    position: absolute;
    right: 20px;
    bottom: 50px;
    z-index: -12;
}
.contacticons a{
    margin: 0 50px 20px 0;
    text-decoration: none;
    color: #333;
    text-align: left;
    transition: 0.2s;
}
.contacticons a:hover{
    font-weight: bold;
}
.contactcontent{
    padding-left: 20px;
    border-left: 1px solid #000000;
}
.contacticons img{
    width: 20px;
    height: 20px;
}
.attribution{
    text-decoration: none;
    color: #6e6eb0;
    margin-top: 20px;
    font-weight: bold;
}
#otherprojects{
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    text-align: center;
}
#otherprojects h3{
    margin-bottom: 20px;
}
.otherprojectcontent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.fullprojcard{
    width: 300px;
    height: 250px;
    margin: 20px;
    /* overflow: hidden; */
    border-radius: 10px;
    border: 1px solid #e9dbdbb3;
    transition: 0.2s;
}
.fullprojcard img{
    width: 100%;
    /* height: 150px; */
    object-fit: cover;
}
.otherprojectcontent{
    margin-bottom: 20px;
}
.otherprojectcontent a{
    text-decoration: none;
    color: #0c0ca0;
}
.fullprojcard p{
    margin-top: 30px 0;
    border-left: 10px solid #0c0ca054;
}
/* #straight{
    display: flex;
}
#straight img{
    width: 25px;
    height: 25px;
} */

#achieve{
    width: 100%;
    margin-top: 100px;
    padding: 20px;
}
.achievecontent p{
    width: 100%;
    margin: 20px 0 40px;
    padding: 30px;
    box-shadow: 0 0 10px #5858fd5e;
    line-height: 30px;
}

@media screen and (min-width: 645px){
    #hero{
        display: flex;
        padding: 20px;
    }
    #hero img{
        width: 250px;
        margin-left: 20px;
    }
    #achieve{
        padding: 20px 50px;
    }
}
@media screen and (min-width: 767px){
    nav{
        background: #fff;
    }
    #hero{
        display: flex;
        background: #fff;
        /* padding: 30px 50px; */
        /* margin-bottom: 100px; */
        /* height: 50vh; */
    }
    .intro{
        padding: 30px 50px;
    }
    #hero img{
        width: 40%;
    }
    #skills{
        background: #f3f3f7;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .skillsdisplay{
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .softskills{
        margin-top: 0;
        margin-bottom: 0;
    }
    .skillscard{
        box-shadow: 0 0 5px #5858fd2b;
        padding: 50px;
    }
    .probrief{
        padding: 30px 40px;
    }
    .explain p{
        font-size: 30px;
    }
}

@media screen and (min-width: 771px){
    #hero{
        padding-top: 0;
    }
    .intro{
        padding-top: 50px;
    }
}
@media screen and (min-width: 991px){
    .namebox{
        font-size: 70px
    }
    .recentprojcardcontainer{
        width: 100%;
        display: flex;
        gap: 40px;
        justify-content: space-between;
        padding: 0 40px;
    }
    .projectcard{
        width: 400px;
    }
    .shiftdown{
        margin-top: 20px;
    }
    #contact{
        padding-left: 50px;
    }
    #achieve{
        padding: 50px 100px;
    }
}
@media screen and (min-width: 1000px){
    .projectcard{
        width: 450px;
    }
    
    .achievecontent p{
        width: 70%;
    }
    .sec{
        float: right;
    }
}
@media screen and (min-width: 1100px){
    .nav-links li:hover{
        background: #555567;
    }
    #hero{
        width: 100%;
        /* height: 80vh; */
        justify-content: space-between;
        padding: 0 120px;
        position: relative;
    }
    .introdescription{
        margin-top: 100px;
    }
    .namebox{
        font-size: 80px;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 0;
        position: absolute;
        top: 160px;
        z-index: 66;
    }
    .intro{
        margin-top: 120px;
    }
    .introdescription{
        width: 600px;
    }
    .introdescription h1{
        font-size: 20px;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .introdescription p{
        width: 450px;
        text-align: left;
        margin-bottom: 20px;
    }
    .cta{
        text-align: left;
        padding-left: 20px;
    }
    .btn1:hover{
        background: #ba4848;
    }
    .btn2:hover{
        background: #f5f5f5;
    }
    #skills{
        padding: 100px 0;
    }
    .skillsdisplay{
        padding: 50px 120px;
    }
    #sampleprojects{
        padding: 120px;
    }
    .projectcard:hover{
        box-shadow: unset;
    }
    .recentprojcardcontainer{
        padding: 50px 150px;
    }
    #contact{
        padding: 50px 120px 100px;
        width: 100%;
        height: 100vh;
        align-items: center;
    }
    .contactcontent{
        margin-left: 50px;
        padding-left: 50px;
    }
    .explain p{
        font-size: 60px;
    }
    #achieve{
        padding: 50px 250px;
    }
}



/* -------------- Scrollbar ---------------- */

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    background: #6e6eb054;
    border-radius: 10px;
}